*{margin:0;padding:0;}
img{border:0;display: block;}

.all{
	width:100%;
	height:100%;
	position: relative;
}

#kittyCloud{
	position:absolute;
	left:800px;
	top:50px;
}

#maoHold{
	position:absolute;
	left:400px;
	top:400px;
}

#rose{
	position:absolute;
	left:557px;
	top:389px;
}

#sayLove{
	width:500px;
	height:200px;
	background: transient;
	position: absolute;
	left:300px;
	top:0;
}

#bgPetal{
	
}
